::ng-deep {
    section {
        border-bottom: 1px solid #F0F0F0;
        display: flex;
        flex-direction: column;
        .title {
            color: #101010;
            padding: 6px 12px;
            cursor: pointer;
            font-weight: 500;
            user-select: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .arrow {
            &::after {
                content: "";
                color: #1199F4;
                width: 24px;
                aspect-ratio: 1;
                background-image: url("../../../assets/deploy.svg");
                background-repeat: no-repeat;
                background-position: 4px 4px;
                background-size: 18px;
                filter: invert(50%) sepia(66%) saturate(2259%) hue-rotate(178deg) brightness(93%) contrast(105%);
            }
        }
        .content {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 200ms;
            padding-left: 12px;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-right: 4px;
            div {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                label {
                    user-select: none;
                    padding-right: 8px;
                    input[type=checkbox] {
                        margin-right: 4px;
                    }
                }
            }
        }
        .show {
            display: grid;
            grid-template-rows: 1fr;
        }
        &:last-child {
            border: none;
        }
    }
}

@media (min-width: 850px) {
    ::ng-deep {
        accordion {
            display: flex;
            flex-direction: row;
            gap: 4px;
            flex-wrap: wrap;
            section {
                border: none;
                display: flex;
                justify-content: space-between;
                
                .content {
                    border: 1px solid #B0B0B0;
                    border-radius: 6px;
                    height: 180px;
                    grid-template-rows: 1fr;
                    div {
                        overflow: auto;
                    }
                }
            }
        }

    }

    
}