<div *ngIf="showBox" class="background">
    <div *ngIf="showBox" class="box" #box>
        <filter-box-header (closeEmitter)="close()">
            Filtros
        </filter-box-header>
        <filter-box-body>
            <accordion>
                <section *ngFor="let segment of data?.Segmentacion" class="titleSection">
                    <div *ngIf="tiny" class="title arrow">
                        {{ segment.Segmento }}
                    </div>

                    <div *ngIf="!tiny" class="title">
                        <div>
                            <label><input *ngIf="segment.Segmento !== 'Director'" type="checkbox" (change)="toggleCheck(segment.Valores, segment.Segmento)">&nbsp;{{ segment.Segmento }}</label></div>
                    </div>
                    <div class="content">
                        <div>
                            <label *ngIf="tiny && segment.Segmento !== 'Director'"><input type="checkbox" (change)="toggleCheck(segment.Valores, segment.Segmento)"><b>Intercambiar</b></label>
                            <label *ngFor="let value of segment.Valores" [ngClass]="{'selected': selectedDirector(value)}">
                                <input *ngIf="segment.Segmento !== 'Director'" [disabled]="disableAll" [checked]="isChecked(segment.Segmento, value)" (change)="changeFilters(segment.Segmento, value, $event)" type="checkbox"><span *ngIf="segment.Segmento !== 'Director'">{{ value }}</span>
                                <input *ngIf="segment.Segmento === 'Director'" class="directorCheck" [disabled]="disableAll" type="checkbox" [checked]="value.split('-')[1] === temporalDirector" (change)="changeDirector(value.split('-')[0], $event)"><span *ngIf="segment.Segmento === 'Director'">{{ value.split('-')[1] }}</span>
                            </label>
                        </div>
                    </div>
                </section>
            </accordion>
            <div class="footer">
                <button (click)="apply()" class="apply">Aplicar Filtros</button>
            </div>
        </filter-box-body>
    </div>
</div>