<div *ngIf="showBox" class="background">
    <div *ngIf="showBox" class="box" #box>
        <filter-box-header (closeEmitter)="close()">
            Filtros
        </filter-box-header>
        <filter-box-body>
            <accordion>
                <section *ngFor="let segment of data?.Segmentacion">
                    <div class="title" (click)="toggleCheck(segment.Valores, segment.Segmento)">{{ segment.Segmento }}</div>
                    <div class="content">
                        <div>
                            <label *ngFor="let value of segment.Valores"><input [checked]="isChecked(segment.Segmento, value)" (change)="changeFilters(segment.Segmento, value, $event)" type="checkbox">{{ value }}</label>
                        </div>
                    </div>
                </section>
            </accordion>
        </filter-box-body>
        <filter-box-footer [Signal]="sig" [Filters]="filters">
        </filter-box-footer>
    </div>
</div>