.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000030;
    display: grid;
    place-content: center;
    z-index: 1;
    .box {
        position: relative;
        width: 95vw;
        max-width: 1300px;
        height: fit-content;
        max-height: 75vh;
        background-color: #FFF;
        border: 2px solid #d0d0d0;
        border-radius: 12px;
        overflow: auto;
        z-index: 2;
    }
}