<top-bar [date]="currentDate"></top-bar>
<spinner *ngIf="spinner.loading"></spinner>
<div class="layout" [ngClass]="{'limit': fullscreen}">
    <div *ngIf="!rotateTable" class="card main">
        <div class="summaryChart">
            <canvas #summaryPriceChart></canvas>
        </div>
        <div class="info">
            <div class="title">
                <div class="icon icon-money">
                    <i class="fa-duotone fa-cart-shopping" style="--fa-primary-color: #ffffff; --fa-secondary-color: #ffffff;"></i>
                </div>
                <h3>Ventas en $MM</h3>
            </div>
            <div class="data">
                <div class="value">
                    <h3>{{ valueMoneyCurrent | number: "1.0-0" }}</h3>
                    <span>{{ currentDate | date: 'MMMM yyyy' }}</span>
                </div>
                <hr>
                <div class="value">
                    <h3>{{ valueMoneyBudget | number: "1.0-0" }}</h3>
                    <span>Presupuesto</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!rotateTable" class="card main">
        <div class="summaryChart">
            <canvas #summaryTonsChart></canvas>
        </div>
        <div class="info">
            <div class="title">
                <div class="icon icon-ton">
                    <i class="fa-duotone fa-truck" style="--fa-primary-color: #ffffff; --fa-secondary-color: #ffffff;"></i>
                </div>
                <h3>Toneladas</h3>
            </div>
            <div class="data">
                <div class="value">
                    <h3>{{ valueTonsCurrent | number: "1.0-0" }}</h3>
                    <span>{{ currentDate.getTime() | date: 'MMMM yyyy' }}</span>
                </div>
                <hr>
                <div class="value">
                    <h3>{{ valueTonsBudget | number: "1.0-0" }}</h3>
                    <span>Presupuesto</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card table" [ngClass]="{'table-rotate': rotateTable}">
        <section>
            <div class="title">
                <h3 style="margin: 0; justify-self: center;">Mes Actual <span *ngIf="asiVamosService.allDirectors().current !== 0">- {{ asiVamosService.allDirectors().current }}</span></h3>
                <div class="actionGroup">
                    <div ngbDropdown container="body" class="d-inline-block dropdown">
                        <button type="button" class="btn btn-outline-primary group" ngbDropdownToggle>
                            <i class="fa fa-list-ul fa-lg"></i>
                        </button>
                        <div ngbDropdownMenu>
                            <button ngbDropdownItem (click)="setCurrent('UEN')">UEN</button>
                            <button ngbDropdownItem (click)="setCurrent('Vendedor')">Vendedor</button>
                            <button ngbDropdownItem (click)="setCurrent('Marca')">Marca</button>
                            <button ngbDropdownItem (click)="setCurrent('Canal')">Canal</button>
                            <button ngbDropdownItem (click)="setCurrent('Subcanal')">Subcanal</button>
                            <button ngbDropdownItem (click)="setCurrent('Linea')">Línea</button>
                            <button ngbDropdownItem (click)="setCurrent('Segmento')">Segmento</button>
                            <button ngbDropdownItem (click)="setCurrent('Cliente')">Cliente</button>
                            <button ngbDropdownItem (click)="setCurrent('Producto')">Producto</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary big" (click)="toggleFullscreen()">
                        <i class="fa-sharp fa-solid fa-expand"></i>&nbsp;Pantalla Completa
                    </button>
                    <button type="button" class="btn btn-outline-primary tiny" (click)="toggleFullscreen()">
                        <i class="fa-sharp fa-solid fa-expand"></i>
                    </button>
                    <!-- Columnas -->
                    <div ngbDropdown container="body" class="d-inline-block dropdown" #dropColumns="ngbDropdown">
                        <button type="button" class="btn btn-outline-primary big" ngbDropdownToggle>
                            <i class="fa-sharp fa-solid fa-ruler-triangle"></i>&nbsp;Columnas
                        </button>
                        <div ngbDropdownMenu>
                            <div class="d-flex gap-5 px-3 py-2">
                                <div class="d-flex flex-column">
                                    <label class="form-check-label"><input [(ngModel)]="showColumns.valor" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Valor</label>
                                    <div class="dropdown-divider"></div>
                                    <label class="form-check-label"><input [(ngModel)]="showColumns.tonelada" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Tonelada</label>
                                    <div class="dropdown-divider"></div>
                                    <label class="form-check-label"><input [(ngModel)]="showColumns.precTon" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Precio/Tonelada</label>
                                    <div class="dropdown-divider"></div>
                                    <label class="form-check-label"><input [(ngModel)]="showColumns.plan" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Plan Demanda</label>
                                    <div class="dropdown-divider"></div>
                                    <label class="form-check-label"><input [(ngModel)]="showColumns.pedPend" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Pedidos Pendientes</label>
                                    <div class="dropdown-divider"></div>
                                    <label class="form-check-label"><input [(ngModel)]="showColumns.pedPendTon" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Pedidos Pendientes Ton</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngbDropdown container="body" class="d-inline-block dropdown" #dropColumns="ngbDropdown">
                        <button type="button" class="btn btn-outline-primary tiny" ngbDropdownToggle>
                            <i class="fa-sharp fa-solid fa-ruler-triangle"></i>
                        </button>
                        <div ngbDropdownMenu>
                            <div class="d-flex gap-5 px-3 py-2">
                                <div class="d-flex flex-column">
                                    <label class="form-check-label"><input [(ngModel)]="showColumns.valor" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Valor</label>
                                    <div class="dropdown-divider"></div>
                                    <label class="form-check-label"><input [(ngModel)]="showColumns.tonelada" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Tonelada</label>
                                    <div class="dropdown-divider"></div>
                                    <label class="form-check-label"><input [(ngModel)]="showColumns.precTon" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Precio/Tonelada</label>
                                    <div class="dropdown-divider"></div>
                                    <label class="form-check-label"><input [(ngModel)]="showColumns.plan" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Plan Demanda</label>
                                    <div class="dropdown-divider"></div>
                                    <label class="form-check-label"><input [(ngModel)]="showColumns.pedPend" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Pedidos Pendientes</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Filtrar -->
                    <div ngbDropdown container="body" class="d-inline-block dropdown" #dropColumns="ngbDropdown">
                        <button type="button" class="btn btn-outline-primary big" id="dropdownForm1" ngbDropdownToggle>
                            <i class="fa-solid fa-filter-list"></i>&nbsp;Filtrar
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                            <button ngbDropdownItem (click)="openFilters()">Filtrar</button>
                            <button ngbDropdownItem (click)="open(preview)">Ver Filtros</button>
                        </div>
                    </div>
                    <div ngbDropdown container="body" class="d-inline-block dropdown" #dropColumns="ngbDropdown">
                        <button type="button" class="btn btn-outline-primary tiny" id="dropdownForm1" ngbDropdownToggle>
                            <i class="fa-solid fa-filter-list"></i>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                            <button ngbDropdownItem (click)="openFilters()">Filtrar</button>
                            <button ngbDropdownItem (click)="open(preview)">Ver Filtros</button>
                        </div>
                    </div>
                    <!-- Limpiar -->
                    <button type="button" class="btn btn-outline-primary big" (click)="removeFilter()">
                        <i class="fa-solid fa-filter-slash"></i>&nbsp;Limpiar
                    </button>
                    <button type="button" class="btn btn-outline-primary tiny" (click)="removeFilter()">
                        <i class="fa-solid fa-filter-slash"></i>
                    </button>
                </div>
            </div>
            <section>
                <div class="buttonGroup">
                    <button (click)="setCurrent('UEN')" [ngClass]="{'current': currentActive === 'UEN'}">UEN <i *ngIf="loading.UEN" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                    <button (click)="setCurrent('Vendedor')" [ngClass]="{'current': currentActive === 'Vendedor'}">Vendedor <i *ngIf="loading.Vendedor" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                    <button (click)="setCurrent('Marca')" [ngClass]="{'current': currentActive === 'Marca'}">Marca <i *ngIf="loading.Marca" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                    <button (click)="setCurrent('Canal')" [ngClass]="{'current': currentActive === 'Canal'}">Canal <i *ngIf="loading.Canal" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                    <button (click)="setCurrent('Subcanal')" [ngClass]="{'current': currentActive === 'Subcanal'}">Subcanal <i *ngIf="loading.Subcanal" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                    <button (click)="setCurrent('Linea')" [ngClass]="{'current': currentActive === 'Linea'}">Línea <i *ngIf="loading.Linea" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                    <button (click)="setCurrent('Segmento')" [ngClass]="{'current': currentActive === 'Segmento'}">Segmento <i *ngIf="loading.Segmento" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                    <button (click)="setCurrent('Cliente')" [ngClass]="{'current': currentActive === 'Cliente'}">Cliente <i *ngIf="loading.Cliente" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                    <button (click)="setCurrent('Producto')" [ngClass]="{'current': currentActive === 'Producto'}">Producto <i *ngIf="loading.Producto" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                    <button (click)="setCurrent('Geografia')" [ngClass]="{'current': currentActive === 'Geografia'}">Geografia <i *ngIf="loading.Geografia" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                    <button (click)="setCurrent('Director')" [ngClass]="{'current': currentActive === 'Director'}">Director <i *ngIf="loading.Director" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                </div>
                <div class="content">
                    <table #tableRef>
                        <thead>
                            <tr style="cursor: none;">
                                <th class="rb stickyCol">{{ currentActive }}</th>
                                <th *ngIf="showColumns.valor" style="text-align: end;" title="Valor Mes" (click)="orderCol('valorMes')">ValorMes</th>
                                <th *ngIf="showColumns.valor" style="text-align: end;" title="Valor presupuestado" (click)="orderCol('valorPpto')">ValorPpto</th>
                                <th *ngIf="showColumns.valor" style="text-align: end;" title="Cumplimiento" class="rb" (click)="orderCol('vCump')">Cumpl</th>
                                <th *ngIf="showColumns.pedPend" style="text-align: end;" title="Valor pedidos pendientes" (click)="orderCol('valorPedPend')">VlrPedPend</th>
                                <th *ngIf="showColumns.pedPend" style="text-align: end;" title="Cumplimiento" class="rb" (click)="orderCol('pCump')">Cump</th>
                                <th *ngIf="showColumns.tonelada" style="text-align: end;" title="Tonelada Mes" (click)="orderCol('tonMes')">TonMes</th>
                                <th *ngIf="showColumns.tonelada" style="text-align: end;" title="Toneladas presupuestadas" (click)="orderCol('tonMesPpto')">TonMesPpto</th>
                                <th *ngIf="showColumns.tonelada" style="text-align: end;" title="Cumplimiento" class="rb" (click)="orderCol('tCump')">Cumpl</th>
                                <th *ngIf="showColumns.pedPendTon" style="text-align: end;" title="Tonelada pedidos pendientes" (click)="orderCol('tonPedPend')">TonPedPend</th>
                                <th *ngIf="showColumns.pedPendTon" style="text-align: end;" class="rb" title="Cumplimiento" (click)="orderCol('tpCump')">Cumpl</th>
                                <th *ngIf="showColumns.plan" style="text-align: end;" title="Plan demanda valor" (click)="orderCol('planDValor')">PlanDValor</th>
                                <th *ngIf="showColumns.plan" style="text-align: end;" title="Cumplimiento" class="rb" (click)="orderCol('vdCump')">Cump</th>
                                <th *ngIf="showColumns.plan" style="text-align: end;" title="Plan demanda" (click)="orderCol('planDTon')">PlanDTon</th>
                                <th *ngIf="showColumns.plan" style="text-align: end;" title="Cumplimiento" class="rb" (click)="orderCol('tdCump')">Cump</th>
                                <th *ngIf="showColumns.precTon" style="text-align: end;" title="Precio por tonelada" (click)="orderCol('precTon')">PrecTon</th>
                                <th *ngIf="showColumns.precTon" style="text-align: end;" title="Precio por tonelada presupuestada" (click)="orderCol('precTonPpto')">PrecTonPpto</th>
                                <th *ngIf="showColumns.precTon" style="text-align: end;" title="Cumplimiento" class="rb" (click)="orderCol('ptCumpl')">Cump</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let record of records">
                                <td *ngIf="currentActive === 'Cliente'" class="rb stickyCol" noWrap><a style="color: #1199F4" title="Dashboard" target="_blank" [href]="linkToDashboard(record.agrupacion.split(' ')[0])"><i class="fa-duotone fa-chart-simple"></i></a> {{ record.agrupacion }}</td>
                                <td *ngIf="currentActive !== 'Cliente'" class="rb stickyCol" noWrap>{{ record.agrupacion }}</td>
                                <td *ngIf="showColumns.valor" style="text-align: end;">{{ record.valorMes | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.valor" style="text-align: end;">{{ record.valorPpto | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.valor" style="text-align: end;" class="rb">{{ record.vCump | percent: "1.0-0" }}</td>
                                <td *ngIf="showColumns.pedPend" style="text-align: end;">{{ record.valorPedPend | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.pedPend" style="text-align: end;" class="rb">{{ record.pCump | percent: "1.0-0" }}</td>
                                <td *ngIf="showColumns.tonelada" style="text-align: end;">{{ record.tonMes | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.tonelada" style="text-align: end;">{{ record.tonMesPpto | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.tonelada" style="text-align: end;" class="rb">{{ record.tCump | percent: "1.0-0" }}</td>
                                <td *ngIf="showColumns.plan" style="text-align: end;">{{ record.tonPedPend | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.plan" style="text-align: end;" class="rb">{{ record.tpCump | percent: "1.0-0" }}</td>
                                <td *ngIf="showColumns.plan" style="text-align: end;">{{ record.planDValor | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.plan" style="text-align: end;" class="rb">{{ record.vdCump | percent: "1.0-0" }}</td>
                                <td *ngIf="showColumns.plan" style="text-align: end;">{{ record.planDTon | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.plan" style="text-align: end;" class="rb">{{ record.tdCump | percent: "1.0-0" }}</td>
                                <td *ngIf="showColumns.precTon" style="text-align: end;">{{ record.precTon | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.precTon" style="text-align: end;">{{ record.precTonPpto | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.precTon" style="text-align: end;" class="rb">{{ record.ptCumpl | percent: "1.0-0" }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="rb stickyCol">Totales</td>
                                <td *ngIf="showColumns.valor" style="text-align: end;">{{ totals.valorMes | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.valor" style="text-align: end;">{{ totals.valorPpto | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.valor" style="text-align: end;" class="rb">{{ totals.valorMes / totals.valorPpto | percent: "1.0-0" }}</td>
                                <td *ngIf="showColumns.pedPend" style="text-align: end;">{{ totals.valorPedPend | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.pedPend" style="text-align: end;" class="rb">{{ (totals.valorMes + totals.valorPedPend) / totals.valorPpto | percent: "1.0-0" }}</td>
                                <td *ngIf="showColumns.tonelada" style="text-align: end;">{{ totals.tonMes | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.tonelada" style="text-align: end;">{{ totals.tonMesPpto | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.tonelada" style="text-align: end;" class="rb">{{ totals.tonMes / totals.tonMesPpto | percent: "1.0-0" }}</td>
                                <td *ngIf="showColumns.plan" style="text-align: end;">{{ totals.tonPedPend | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.plan" style="text-align: end;" class="rb">{{ totals.tonPedPend / totals.tonMesPpto | percent: "1.0-0" }}</td>
                                <td *ngIf="showColumns.plan" style="text-align: end;">{{ totals.planDValor | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.plan" style="text-align: end;" class="rb">{{ totals.planDValor / totals.valorPpto | percent: "1.0-0" }}</td>
                                <td *ngIf="showColumns.plan" style="text-align: end;">{{ totals.planDTon| number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.plan" style="text-align: end;" class="rb">{{ totals.planDTon / totals.tonMesPpto | percent: "1.0-0" }}</td>
                                <td *ngIf="showColumns.precTon" style="text-align: end;">{{ totals.precTon | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.precTon" style="text-align: end;">{{ totals.precTonPpto | number: "1.1-2" }}</td>
                                <td *ngIf="showColumns.precTon" style="text-align: end;" class="rb">{{ totals.precTon / totals.precTonPpto | percent: "1.0-0" }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </section>
    </div>
    <div *ngIf="fullscreen" class="fullscreentable">
        <div class="title">
            <h3 style="margin: 0; justify-self: center;">Mes Actual <span *ngIf="asiVamosService.allDirectors().current !== 0">- {{ asiVamosService.allDirectors().current }}</span></h3>
            <div class="actionGroup">
                <div ngbDropdown container="body" class="d-inline-block dropdown">
                    <button type="button" class="btn btn-outline-primary group" ngbDropdownToggle>
                        <i class="fa fa-list-ul fa-lg"></i>
                    </button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem (click)="setCurrent('UEN')">UEN</button>
                        <button ngbDropdownItem (click)="setCurrent('Vendedor')">Vendedor</button>
                        <button ngbDropdownItem (click)="setCurrent('Marca')">Marca</button>
                        <button ngbDropdownItem (click)="setCurrent('Canal')">Canal</button>
                        <button ngbDropdownItem (click)="setCurrent('Subcanal')">Subcanal</button>
                        <button ngbDropdownItem (click)="setCurrent('Linea')">Línea</button>
                        <button ngbDropdownItem (click)="setCurrent('Segmento')">Segmento</button>
                        <button ngbDropdownItem (click)="setCurrent('Cliente')">Cliente</button>
                        <button ngbDropdownItem (click)="setCurrent('Producto')">Producto</button>

                    </div>
                </div>
                <button type="button" class="btn btn-outline-primary big" (click)="toggleFullscreen()">
                    <i class="fa-sharp fa-solid fa-expand"></i>&nbsp;Pantalla Completa
                </button>
                <button type="button" class="btn btn-outline-primary tiny" (click)="toggleFullscreen()">
                    <i class="fa-sharp fa-solid fa-expand"></i>
                </button>
                <!-- Columnas -->
                <div ngbDropdown container="body" class="d-inline-block dropdown" #dropColumns="ngbDropdown">
                    <button type="button" class="btn btn-outline-primary big" ngbDropdownToggle>
                        <i class="fa-sharp fa-solid fa-ruler-triangle"></i>&nbsp;Columnas
                    </button>
                    <div ngbDropdownMenu>
                        <div class="d-flex gap-5 px-3 py-2">
                            <div class="d-flex flex-column">
                                <label class="form-check-label"><input [(ngModel)]="showColumns.valor" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Valor</label>
                                <div class="dropdown-divider"></div>
                                <label class="form-check-label"><input [(ngModel)]="showColumns.tonelada" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Tonelada</label>
                                <div class="dropdown-divider"></div>
                                <label class="form-check-label"><input [(ngModel)]="showColumns.precTon" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Precio/Tonelada</label>
                                <div class="dropdown-divider"></div>
                                <label class="form-check-label"><input [(ngModel)]="showColumns.plan" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Plan Demanda</label>
                                <div class="dropdown-divider"></div>
                                <label class="form-check-label"><input [(ngModel)]="showColumns.pedPend" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Pedidos Pendientes</label>
                                <div class="dropdown-divider"></div>
                                <label class="form-check-label"><input [(ngModel)]="showColumns.pedPendTon" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Pedidos Pendientes Ton</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngbDropdown container="body" class="d-inline-block dropdown" #dropColumns="ngbDropdown">
                    <button type="button" class="btn btn-outline-primary tiny" ngbDropdownToggle>
                        <i class="fa-sharp fa-solid fa-ruler-triangle"></i>
                    </button>
                    <div ngbDropdownMenu>
                        <div class="d-flex gap-5 px-3 py-2">
                            <div class="d-flex flex-column">
                                <label class="form-check-label"><input [(ngModel)]="showColumns.valor" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Valor</label>
                                <div class="dropdown-divider"></div>
                                <label class="form-check-label"><input [(ngModel)]="showColumns.tonelada" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Tonelada</label>
                                <div class="dropdown-divider"></div>
                                <label class="form-check-label"><input [(ngModel)]="showColumns.precTon" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Precio/Tonelada</label>
                                <div class="dropdown-divider"></div>
                                <label class="form-check-label"><input [(ngModel)]="showColumns.plan" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Plan Demanda</label>
                                <div class="dropdown-divider"></div>
                                <label class="form-check-label"><input [(ngModel)]="showColumns.pedPend" (change)="dropColumns.close()" type="checkbox" class="form-check-input"/>&nbsp;Pedidos Pendientes</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Filtrar -->
                <div ngbDropdown container="body" class="d-inline-block dropdown" #dropColumns="ngbDropdown">
                    <button type="button" class="btn btn-outline-primary big" id="dropdownForm1" ngbDropdownToggle>
                        <i class="fa-solid fa-filter-list"></i>&nbsp;Filtrar
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                        <button ngbDropdownItem (click)="openFilters()">Filtrar</button>
                        <button ngbDropdownItem (click)="open(preview)">Ver Filtros</button>
                    </div>
                </div>
                <div ngbDropdown container="body" class="d-inline-block dropdown" #dropColumns="ngbDropdown">
                    <button type="button" class="btn btn-outline-primary tiny" id="dropdownForm1" ngbDropdownToggle>
                        <i class="fa-solid fa-filter-list"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                        <button ngbDropdownItem (click)="openFilters()">Filtrar</button>
                        <button ngbDropdownItem (click)="open(preview)">Ver Filtros</button>
                    </div>
                </div>
                <!-- Limpiar -->
                <button type="button" class="btn btn-outline-primary big" (click)="removeFilter()">
                    <i class="fa-solid fa-filter-slash"></i>&nbsp;Limpiar
                </button>
                <button type="button" class="btn btn-outline-primary tiny" (click)="removeFilter()">
                    <i class="fa-solid fa-filter-slash"></i>
                </button>
            </div>
        </div>
        <section>
            <div class="buttonGroup">
                <button (click)="setCurrent('UEN')" [ngClass]="{'current': currentActive === 'UEN'}">UEN <i *ngIf="loading.UEN" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                <button (click)="setCurrent('Vendedor')" [ngClass]="{'current': currentActive === 'Vendedor'}">Vendedor <i *ngIf="loading.Vendedor" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                <button (click)="setCurrent('Marca')" [ngClass]="{'current': currentActive === 'Marca'}">Marca <i *ngIf="loading.Marca" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                <button (click)="setCurrent('Canal')" [ngClass]="{'current': currentActive === 'Canal'}">Canal <i *ngIf="loading.Canal" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                <button (click)="setCurrent('Subcanal')" [ngClass]="{'current': currentActive === 'Subcanal'}">Subcanal <i *ngIf="loading.Subcanal" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                <button (click)="setCurrent('Linea')" [ngClass]="{'current': currentActive === 'Linea'}">Línea <i *ngIf="loading.Linea" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                <button (click)="setCurrent('Segmento')" [ngClass]="{'current': currentActive === 'Segmento'}">Segmento <i *ngIf="loading.Segmento" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                <button (click)="setCurrent('Cliente')" [ngClass]="{'current': currentActive === 'Cliente'}">Cliente <i *ngIf="loading.Cliente" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                <button (click)="setCurrent('Producto')" [ngClass]="{'current': currentActive === 'Producto'}">Producto <i *ngIf="loading.Producto" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                <button (click)="setCurrent('Geografia')" [ngClass]="{'current': currentActive === 'Geografia'}">Geografia <i *ngIf="loading.Geografia" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
                <button (click)="setCurrent('Director')" [ngClass]="{'current': currentActive === 'Director'}">Director <i *ngIf="loading.Director" class="fa-duotone fa-spinner-third fa-spin" style="--fa-primary-color: #38bdff; --fa-secondary-color: #38bdff; --fa-secondary-opacity: 0.2;"></i></button>
            </div>
            <div class="content">
                <table #tableRef>
                    <thead>
                        <tr style="cursor: pointer;">
                            <th class="rb stickyCol">{{ currentActive }}</th>
                            <th *ngIf="showColumns.valor" style="text-align: end;" title="Valor Mes" (click)="orderCol('valorMes')">ValorMes</th>
                            <th *ngIf="showColumns.valor" style="text-align: end;" title="Valor presupuestado" (click)="orderCol('valorPpto')">ValorPpto</th>
                            <th *ngIf="showColumns.valor" style="text-align: end;" title="Cumplimiento" class="rb" (click)="orderCol('vCump')">Cumpl</th>
                            <th *ngIf="showColumns.pedPend" style="text-align: end;" title="Valor pedidos pendientes" (click)="orderCol('valorPedPend')">VlrPedPend</th>
                            <th *ngIf="showColumns.pedPend" style="text-align: end;" title="Cumplimiento" class="rb" (click)="orderCol('pCump')">Cump</th>
                            <th *ngIf="showColumns.tonelada" style="text-align: end;" title="Tonelada Mes" (click)="orderCol('tonMes')">TonMes</th>
                            <th *ngIf="showColumns.tonelada" style="text-align: end;" title="Toneladas presupuestadas" (click)="orderCol('tonMesPpto')">TonMesPpto</th>
                            <th *ngIf="showColumns.tonelada" style="text-align: end;" title="Cumplimiento" class="rb" (click)="orderCol('tCump')">Cumpl</th>
                            <th *ngIf="showColumns.pedPendTon" style="text-align: end;" title="Tonelada pedidos pendientes" (click)="orderCol('tonPedPend')">TonPedPend</th>
                            <th *ngIf="showColumns.pedPendTon" style="text-align: end;" class="rb" title="Cumplimiento" (click)="orderCol('tpCump')">Cumpl</th>
                            <th *ngIf="showColumns.plan" style="text-align: end;" title="Plan demanda valor" (click)="orderCol('planDValor')">PlanDValor</th>
                            <th *ngIf="showColumns.plan" style="text-align: end;" title="Cumplimiento" class="rb" (click)="orderCol('vdCump')">Cump</th>
                            <th *ngIf="showColumns.plan" style="text-align: end;" title="Plan demanda" (click)="orderCol('planDTon')">PlanDTon</th>
                            <th *ngIf="showColumns.plan" style="text-align: end;" title="Cumplimiento" class="rb" (click)="orderCol('tdCump')">Cump</th>
                            <th *ngIf="showColumns.precTon" style="text-align: end;" title="Precio por tonelada" (click)="orderCol('precTon')">PrecTon</th>
                            <th *ngIf="showColumns.precTon" style="text-align: end;" title="Precio por tonelada presupuestada" (click)="orderCol('precTonPpto')">PrecTonPpto</th>
                            <th *ngIf="showColumns.precTon" style="text-align: end;" title="Cumplimiento" class="rb" (click)="orderCol('ptCumpl')">Cump</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let record of records">
                            <td *ngIf="currentActive === 'Cliente'" class="rb stickyCol" noWrap><a style="color: #1199F4" title="Dashboard" target="_blank" [href]="linkToDashboard(record.agrupacion.split(' ')[0])"><i class="fa-duotone fa-chart-simple"></i></a> {{ record.agrupacion }}</td>
                            <td *ngIf="currentActive !== 'Cliente'" class="rb stickyCol" noWrap>{{ record.agrupacion }}</td>
                            <td *ngIf="showColumns.valor" style="text-align: end;">{{ record.valorMes | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.valor" style="text-align: end;">{{ record.valorPpto | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.valor" style="text-align: end;" class="rb">{{ record.vCump | percent: "1.0-0" }}</td>
                            <td *ngIf="showColumns.pedPend" style="text-align: end;">{{ record.valorPedPend | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.pedPend" style="text-align: end;" class="rb">{{ record.pCump | percent: "1.0-0" }}</td>
                            <td *ngIf="showColumns.tonelada" style="text-align: end;">{{ record.tonMes | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.tonelada" style="text-align: end;">{{ record.tonMesPpto | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.tonelada" style="text-align: end;" class="rb">{{ record.tCump | percent: "1.0-0" }}</td>
                            <td *ngIf="showColumns.plan" style="text-align: end;">{{ record.tonPedPend | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.plan" style="text-align: end;" class="rb">{{ record.tpCump | percent: "1.0-0" }}</td>
                            <td *ngIf="showColumns.plan" style="text-align: end;">{{ record.planDValor | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.plan" style="text-align: end;" class="rb">{{ record.vdCump | percent: "1.0-0" }}</td>
                            <td *ngIf="showColumns.plan" style="text-align: end;">{{ record.planDTon | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.plan" style="text-align: end;" class="rb">{{ record.tdCump | percent: "1.0-0" }}</td>
                            <td *ngIf="showColumns.precTon" style="text-align: end;">{{ record.precTon | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.precTon" style="text-align: end;">{{ record.precTonPpto | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.precTon" style="text-align: end;" class="rb">{{ record.ptCumpl | percent: "1.0-0" }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="rb stickyCol">Totales</td>
                            <td *ngIf="showColumns.valor" style="text-align: end;">{{ totals.valorMes | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.valor" style="text-align: end;">{{ totals.valorPpto | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.valor" style="text-align: end;" class="rb">{{ totals.valorMes / totals.valorPpto | percent: "1.0-0" }}</td>
                            <td *ngIf="showColumns.pedPend" style="text-align: end;">{{ totals.valorPedPend | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.pedPend" style="text-align: end;" class="rb">{{ (totals.valorMes + totals.valorPedPend) / totals.valorPpto | percent: "1.0-0" }}</td>
                            <td *ngIf="showColumns.tonelada" style="text-align: end;">{{ totals.tonMes | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.tonelada" style="text-align: end;">{{ totals.tonMesPpto | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.tonelada" style="text-align: end;" class="rb">{{ totals.tonMes / totals.tonMesPpto | percent: "1.0-0" }}</td>
                            <td *ngIf="showColumns.plan" style="text-align: end;">{{ totals.tonPedPend | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.plan" style="text-align: end;" class="rb">{{ totals.tonPedPend / totals.tonMesPpto | percent: "1.0-0" }}</td>
                            <td *ngIf="showColumns.plan" style="text-align: end;">{{ totals.planDValor | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.plan" style="text-align: end;" class="rb">{{ totals.planDValor / totals.valorPpto | percent: "1.0-0" }}</td>
                            <td *ngIf="showColumns.plan" style="text-align: end;">{{ totals.planDTon| number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.plan" style="text-align: end;" class="rb">{{ totals.planDTon / totals.tonMesPpto | percent: "1.0-0" }}</td>
                            <td *ngIf="showColumns.precTon" style="text-align: end;">{{ totals.precTon | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.precTon" style="text-align: end;">{{ totals.precTonPpto | number: "1.1-2" }}</td>
                            <td *ngIf="showColumns.precTon" style="text-align: end;" class="rb">{{ totals.precTon / totals.precTonPpto | percent: "1.0-0" }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>
</div>

<filter-box></filter-box>

<ng-template #preview let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Filtros actuales</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div class="box" *ngIf="thereAreFilters()">
            <div class="categFlt" *ngIf="filters?.Filtro?.Canal?.length">
                <div class="title">Canal</div>
                <div class="categContent">
                    <span *ngFor="let filter of filters?.Filtro?.Canal">{{ filter }}</span>
                </div>
            </div>
            <div class="categFlt" *ngIf="filters?.Filtro?.Subcanal?.length">
                <div class="title">Subcanal</div>
                <div class="categContent">
                    <span *ngFor="let filter of filters?.Filtro?.Subcanal">{{ filter }}</span>
                </div>
            </div>
            <div class="categFlt" *ngIf="filters?.Filtro?.Linea?.length">
                <div class="title">Línea</div>
                <div class="categContent">
                    <span *ngFor="let filter of filters?.Filtro?.Linea">{{ filter }}</span>
                </div>
            </div>
            <div class="categFlt" *ngIf="filters?.Filtro?.Segmento?.length">
                <div class="title">Segmento</div>
                <div class="categContent">
                    <span *ngFor="let filter of filters?.Filtro?.Segmento">{{ filter }}</span>
                </div>
            </div>
            <div class="categFlt" *ngIf="filters?.Filtro?.Vendedor?.length">
                <div class="title">Vendedor</div>
                <div class="categContent">
                    <span *ngFor="let filter of filters?.Filtro?.Vendedor">{{ filter }}</span>
                </div>
            </div>
            <div class="categFlt" *ngIf="filters?.Filtro?.Cliente?.length">
                <div class="title">Cliente</div>
                <div class="categContent">
                    <span *ngFor="let filter of filters?.Filtro?.Cliente">{{ filter }}</span>
                </div>
            </div>
            <div class="categFlt" *ngIf="filters?.Filtro?.Producto?.length">
                <div class="title">Producto</div>
                <div class="categContent">
                    <span *ngFor="let filter of filters?.Filtro?.Producto">{{ filter }}</span>
                </div>
            </div>
            <div class="categFlt" *ngIf="filters?.Filtro?.Marca?.length">
                <div class="title">Marca</div>
                <div class="categContent">
                    <span *ngFor="let filter of filters?.Filtro?.Marca">{{ filter }}</span>
                </div>
            </div>
            <div class="categFlt" *ngIf="filters?.Filtro?.Geografia?.length">
                <div class="title">Geografía</div>
                <div class="categContent">
                    <span *ngFor="let filter of filters?.Filtro?.Geografia">{{ filter }}</span>
                </div>
            </div>
            <div class="categFlt" *ngIf="filters?.Filtro?.UEN?.length">
                <div class="title">UEN</div>
                <div class="categContent">
                    <span *ngFor="let filter of filters?.Filtro?.UEN">{{ filter }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="!thereAreFilters()">No hay filtros para mostrar</div>
    </div>
</ng-template>