.layout {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 200px 300px;
    justify-content: center;
    margin-top: 3rem;
    gap: 16px;

    .card {
        background-color: #fff;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 0 8px 2px #F0F0FF;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .title {
            display: flex;
            align-items: center;
            gap: 1rem;
            .icon {                
                aspect-ratio: 1;
                width: 2em;
                display: grid;
                place-items: center;
                border-radius: 6px;
                box-shadow: 0 0 2px #A0A0A0;
            }
            .icon-money {
                background-color: var(--money-color);
            }
            .icon-ton {
                background-color: var(--tons-color);
            }
            h3 {
                margin: 0;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            .data {
                display: grid;
                grid-template-columns: 1fr auto 1fr;
                hr {
                    height: 100%;
                    background-color: #A0A0A0;
                    margin: 0;
                    border: none;
                    border-left: 1px solid #A0A0A0;
                }
                .value {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 1rem;
                    h3 {
                        margin: 0;
                    }

                }
            }
            blockquote {
                font-weight: 600;
                color: var(--money-color);
                font-size: 1.2rem;
                margin: 0;
            }
        }
    }

    .comparative {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h3 {
            margin: 0;
        }
        .chart {
            height: 80%;
            width: 100%;
            display: flex;
            justify-content: center;
        }

    }

    .main {
        display: flex;
    }
}

@media ( width < 1100px ) {
    .layout {
        grid-template-columns: 90vw;
        grid-template-rows: repeat(2, 200px) repeat(2, 300px);
        .card {
            // background-color: red;
        }
    }
}