<top-bar [date]="currentDate"></top-bar>
<div class="layout">
    <div class="card main">
        <div class="summaryChart">
            <canvas #summaryPriceChart></canvas>
        </div>
        <div class="info">
            <div class="title">
                <div class="icon icon-money">
                    <i class="fa-duotone fa-cart-shopping" style="--fa-primary-color: #ffffff; --fa-secondary-color: #ffffff;"></i>
                </div>
                <h3>Ventas en $MM</h3>
            </div>
            <div class="data">
                <div class="value">
                    <h3>{{ valueMoneyCurrent | number: "1.0-0" }}</h3>
                    <span>{{ currentDate | date: 'MMMM yyyy' }}</span>
                </div>
                <hr>
                <div class="value">
                    <h3>{{ valueMoneyBudget | number: "1.0-0" }}</h3>
                    <span>Presupuesto</span>
                </div>
            </div>
            <blockquote>Debemos ir al 83%</blockquote>
        </div>
    </div>
    <div class="card main">
        <div class="summaryChart">
            <canvas #summaryTonsChart></canvas>
        </div>
        <div class="info">
            <div class="title">
                <div class="icon icon-ton">
                    <i class="fa-duotone fa-truck" style="--fa-primary-color: #ffffff; --fa-secondary-color: #ffffff;"></i>
                </div>
                <h3>Toneladas</h3>
            </div>
            <div class="data">
                <div class="value">
                    <h3>{{ valueTonsCurrent | number: "1.0-0" }}</h3>
                    <span>{{ currentDate.getTime() | date: 'MMMM yyyy' }}</span>
                </div>
                <hr>
                <div class="value">
                    <h3>{{ valueTonsBudget | number: "1.0-0" }}</h3>
                    <span>Presupuesto</span>
                </div>
            </div>
    </div>
    </div>
    <div class="card table">
        <h3>Mes Actual Nacional</h3>
        <div class="buttonGroup">
            <button>Canal</button>
            <button>Subcanal</button>
            <button>Linea</button>
            <button>Segmento</button>
            <button>Vendedor</button>
            <button>Cliente</button>
            <button>Producto</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Geografía</th>
                    <th style="text-align: end;">TonMes</th>
                    <th style="text-align: end;">TonMesPpto</th>
                    <th style="text-align: end;">TonMesAAnt</th>
                    <th style="text-align: end;">TonAcum</th>
                    <th style="text-align: end;">TonAcumPpto</th>
                    <th style="text-align: end;">TonAcumAAnt</th>
                    <!-- <th style="text-align: end;">ValorMes</th>
                    <th style="text-align: end;">ValorPpto</th>
                    <th style="text-align: end;">ValorMesAAnt</th>
                    <th style="text-align: end;">ValorAcum</th>
                    <th style="text-align: end;">ValorAcumPpto</th>
                    <th style="text-align: end;">ValorAcumAAnt</th>
                    <th style="text-align: end;">ValorPedPend</th>
                    <th style="text-align: end;">PlanDUni</th>
                    <th style="text-align: end;">PlanDValor</th>
                    <th style="text-align: end;">Devolucion</th>
                    <th style="text-align: end;">NotaCredito</th>
                    <th style="text-align: end;">CodCausalNC</th>
                    <th style="text-align: end;">CausalNC</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of records">
                    <td>NACIONAL</td>
                    <td style="text-align: end;">{{ record.TonMes }}</td>
                    <td style="text-align: end;">{{ record.TonMesPpto }}</td>
                    <td style="text-align: end;">{{ record.TonMesAAnt }}</td>
                    <td style="text-align: end;">{{ record.TonAcum }}</td>
                    <td style="text-align: end;">{{ record.TonAcumPpto }}</td>
                    <td style="text-align: end;">{{ record.TonAcumAAnt }}</td>
                    <!-- <td style="text-align: end;">{{ record.ValorMes }}</td>
                    <td style="text-align: end;">{{ record.ValorPpto }}</td>
                    <td style="text-align: end;">{{ record.ValorMesAAnt }}</td>
                    <td style="text-align: end;">{{ record.ValorAcum }}</td>
                    <td style="text-align: end;">{{ record.ValorAcumPpto }}</td>
                    <td style="text-align: end;">{{ record.ValorAcumAAnt }}</td>
                    <td style="text-align: end;">{{ record.ValorPedPend }}</td>
                    <td style="text-align: end;">{{ record.PlanDUni }}</td>
                    <td style="text-align: end;">{{ record.PlanDValor }}</td>
                    <td style="text-align: end;">{{ record.Devolucion }}</td>
                    <td style="text-align: end;">{{ record.NotaCredito }}</td>
                    <td style="text-align: end;">{{ record.CodCausalNC }}</td>
                    <td style="text-align: end;">{{ record.CausalNC }}</td> -->
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Totales</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <!-- <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td>
                    <td style="text-align: end;">45.725.706</td> -->
                </tr>
            </tfoot>
        </table>
        <!-- <table>
            <thead>
                <tr>
                    <th>Ventas $MM</th>
                    <th>Mes Actual</th>
                    <th>Ppto</th>
                    <th style="width: 110px;">%Cumplimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tableTitle">
                    <td>Consumo Masivo</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Negocio", value: "CONSUMO MASIVO"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes") | number:"1.0-0"}}</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Negocio", value: "CONSUMO MASIVO"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto") | number:"1.0-0"}}</td>
                    <td>{{( this.dataActions?.filterAndOperate([{field: "Negocio", value: "CONSUMO MASIVO"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes"))/( this.dataActions?.filterAndOperate([{field: "Negocio", value: "CONSUMO MASIVO"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto")) | percent: "1.1-1"}}</td>
                </tr>
                <tr>
                    <td class="categ">Productos Alimenticios</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS ALIMENTICIOS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes") | number:"1.0-0"}}</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS ALIMENTICIOS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto") | number:"1.0-0"}}</td>
                    <td>{{( this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS ALIMENTICIOS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes"))/( this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS ALIMENTICIOS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto")) | percent: "1.1-1"}}</td>
                </tr>
                <tr>
                    <td>BRINSA</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS ALIMENTICIOS"},{field: "Geografia", value: "NACIONAL"}, {field: "Marca", value: "BRINSA"}], "sum", "ValorMes") | number:"1.0-0"}}</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS ALIMENTICIOS"},{field: "Geografia", value: "NACIONAL"}, {field: "Marca", value: "BRINSA"}], "sum", "ValorPpto") | number:"1.0-0"}}</td>
                    <td>{{( this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS ALIMENTICIOS"},{field: "Geografia", value: "NACIONAL"}, {field: "Marca", value: "BRINSA"}], "sum", "ValorMes"))/( this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS ALIMENTICIOS"},{field: "Geografia", value: "NACIONAL"},{field: "Marca", value: "BRINSA"}], "sum", "ValorPpto")) | percent: "1.1-1"}}</td>
                </tr>
                <tr>
                    <td class="categ">Productos de Aseo</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS DE ASEO"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes") | number:"1.0-0"}}</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS DE ASEO"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto") | number:"1.0-0"}}</td>
                    <td>{{( this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS DE ASEO"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes"))/( this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS DE ASEO"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto")) | percent: "1.1-1"}}</td>
                </tr>
                <tr>
                    <td>BRINSA</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS DE ASEO"},{field: "Geografia", value: "NACIONAL"},{field: "Marca", value: "BRINSA"}], "sum", "ValorMes") | number:"1.0-0"}}</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS DE ASEO"},{field: "Geografia", value: "NACIONAL"},{field: "Marca", value: "BRINSA"}], "sum", "ValorPpto") | number:"1.0-0"}}</td>
                    <td>{{( this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS DE ASEO"},{field: "Geografia", value: "NACIONAL"},{field: "Marca", value: "BRINSA"}], "sum", "ValorMes"))/( this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS DE ASEO"},{field: "Marca", value: "BRINSA"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto")) | percent: "1.1-1"}}</td>
                </tr>
                <tr>
                    <td>MARCAS PROPIAS</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS DE ASEO"},{field: "Geografia", value: "NACIONAL"},{field: "Marca", value: "MARCAS PROPIAS"}], "sum", "ValorMes") | number:"1.0-0"}}</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS DE ASEO"},{field: "Geografia", value: "NACIONAL"},{field: "Marca", value: "MARCAS PROPIAS"}], "sum", "ValorPpto") | number:"1.0-0"}}</td>
                    <td>{{( this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS DE ASEO"},{field: "Geografia", value: "NACIONAL"},{field: "Marca", value: "MARCAS PROPIAS"}], "sum", "ValorMes"))/( this.dataActions?.filterAndOperate([{field: "Division", value: "PRODUCTOS DE ASEO"},{field: "Marca", value: "MARCAS PROPIAS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto")) | percent: "1.1-1"}}</td>
                </tr>
                <tr class="tableTitle">
                    <td>Industria</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes") | number:"1.0-0"}}</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto") | number:"1.0-0"}}</td>
                    <td>{{( this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes"))/( this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto")) | percent: "1.1-1"}}</td>
                </tr>
                <tr>
                    <td class="categ">Quimicos</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "QUIMICOS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes") | number:"1.0-0"}}</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "QUIMICOS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto") | number:"1.0-0"}}</td>
                    <td>{{( this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "QUIMICOS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes"))/( this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "QUIMICOS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto")) | percent: "1.1-1"}}</td>
                </tr>
                <tr>
                    <td>BRINSA</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "QUIMICOS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes") | number:"1.0-0"}}</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "QUIMICOS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto") | number:"1.0-0"}}</td>
                    <td>{{( this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "QUIMICOS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes"))/( this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "QUIMICOS"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto")) | percent: "1.1-1"}}</td>
                </tr>
                <tr>
                    <td class="categ">Sales</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "SALES"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes") | number:"1.0-0"}}</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "SALES"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto") | number:"1.0-0"}}</td>
                    <td>{{( this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "SALES"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes"))/( this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "SALES"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto")) | percent: "1.1-1"}}</td>
                </tr>
                <tr>
                    <td>BRINSA</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "SALES"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes") | number:"1.0-0"}}</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "SALES"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto") | number:"1.0-0"}}</td>
                    <td>{{( this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "SALES"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes"))/( this.dataActions?.filterAndOperate([{field: "Negocio", value: "INDUSTRIA"},{field: "Division", value: "SALES"},{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto")) | percent: "1.1-1"}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="font-weight: 600;">
                    <td>TOTAL</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes") | number:"1.0-0"}}</td>
                    <td>{{ this.dataActions?.filterAndOperate([{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto") | number:"1.0-0"}}</td>
                    <td>{{( this.dataActions?.filterAndOperate([{field: "Geografia", value: "NACIONAL"}], "sum", "ValorMes"))/( this.dataActions?.filterAndOperate([{field: "Geografia", value: "NACIONAL"}], "sum", "ValorPpto")) | percent: "1.1-1"}}</td>
                </tr>
            </tfoot>
        </table> -->
    </div>
</div>

<filter-box></filter-box>